{%  extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include './block/_adminNavbar.html.twig' %}

    {% set route = app.request.attributes.get('_route') %}
    <div class="container">
        <h2>Nouveau centre</h2>

        {{ form_start(form) }}

            {{ form_row(form.address) }}

            {{ form_row(form.city) }}

            {{ form_row(form.lat) }}

            {{ form_row(form.lon) }}

        {% if route == 'admin_update' %}
            {{ form_row(form.submit, {'label': 'Modifier'}) }}
        {% else %}
            {{ form_row(form.submit, {'label': 'Créer'}) }}
        {% endif %}

        {{ form_end(form) }}

    </div>

    {% include './block/_map_admin.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/map_admin_create.js') }}"></script>
{% endblock %}