
{% block contact %}
    <section id="contact">
        <div class="container">
            <div class="form-group" id="formContact">
                {{ form_start(form) }}
                {% set route = app.request.attributes.get('_route') %}
                {% if route  == 'home_contact' %}
                    <h3 class="text-center p-5 text-uppercase">Contacter le centre de {{ center.city }}</h3>
                {% else %}
                    <h3 class="text-center p-5 text-uppercase text-white">Contactez-nous</h3>
                {% endif %}

                <ul class="list-group-item">
                    {% if route == 'home' %}
                        <li class="row">{{ form_row(form.city) }}</li>
                    {% endif %}
                    <li class="row">{{ form_row(form.first_name) }}</li>
                    <li class="row">{{ form_row(form.name) }}</li>
                    <li class="row">{{ form_row(form.tel) }}</li>
                    <li class="row">{{ form_row(form.mail) }}</li>
                    <li class="row">{{ form_row(form.message) }}</li>
                    <li class="d-flex justify-content-end">{{ form_row(form.submit) }}</li>
                </ul>
                {{ form_widget(form._token) }}
                {% if route == 'home_contact' %}
                    {{ form_end(form, {'render_rest': false}) }}
                {% else %}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}